@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
* {
  font-family: "oswald", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 400;
  color: #505070;
}

.wrapper {
  height: 100vh;
  width: 100vw;
}
.container-left {
  display: inline-block;
  width: 60%;
  padding-left: 136px;
  margin-top: 15%;
}

.container-right {
  display: inline-block;
  background-color: rgba(93, 93, 125, 0.16);
  height: 100vh;
  width: 100vw;
  position: absolute;
  
}
.logo {
  position: relative;
  top: 25%;
  right: 130px;
  margin-top: 10%;
}
h1 {
  font-size: 70px;

  width: 368px;
}
p {
  font-size: 28px;
  line-height: 48px;
  opacity: 0.6;
  margin: 15px 0;
  width: 600px;
}
button {
  width: 269px;
  height: 62px;
  font-size: 36px;
  background-color: #9499ea;
  box-shadow: 0px 10px 24px rgba(148, 0.153, 0.234, 0.0079959);
  text-align: center;
  line-height: 36px;
  color: #ffffff;
  border: none;
  border-radius: 30px;
  cursor: pointer;
}

button:hover{
    opacity: .8;

}
button:active{
    opacity: .5;
}

a{
font-size: 28px;
line-height: 41px;
color: #505070;
margin-right: 41px;
cursor: pointer;

}

a:nth-child(2){
  opacity: 0.4;
}

a:hover{
  opacity: 0.4;
}
a:active{
  opacity: 0.8;
}

header{
  margin: 24px 0 0 57px;
}